body{
    margin: 0;
    padding: 0;
    background:#D3D3D3;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    }

hr{
    width: 90%;
}

#songs{
    display: grid;
    grid-template-columns:1fr 1fr 1fr; 
    grid-template-rows: auto;
    grid-gap:20px;
    margin: 30px 100px;
}

article{
    border: 1px solid black;
    padding: 10px;
}

input[type="text"]{
    width: 30%;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}